<%= form_for @resource do |f| %>
  <div class="row">
    <div class="col-md-8">
      <% if @resource.persisted? %>
        <%= f.collection_select :newcomer_id, Person.newcomer, :id, :name, {}, data: { behavior: "select-box" }, disabled: true %>
        <%= f.collection_select :established_id, Person.established, :id, :name, {}, data: { behavior: "select-box" }, disabled: true %>
      <% else %>
        <%= f.collection_select :newcomer_id, Person.engaged.newcomer, :id, :name, {}, data: { behavior: "select-box" } %>
        <%= f.collection_select :established_id, Person.engaged.established, :id, :name, {}, data: { behavior: "select-box" } %>
      <% end %>
      <% if @resource.persisted? %>
        <%= f.date_field :started_at %>
        <%= f.date_field :concluded_at %>
        <%= f.select :status, StatusUpdate.status_for_selection, { include_blank: true }, data: { behavior: "select-box" } %>
      <% end %>
      <%= f.text_area :comment %>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Uppföljningsmail</h4>
          <% if @resource.follow_up_mail_sent_at %>
            Skickades <%= @resource.follow_up_mail_sent_at.to_date %>
          <% else %>
            <%= f.check_box :send_follow_up_mail %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>
