<div id="breadcrumb">
  <ol class="breadcrumb">
    <li class="active">
      <%= @config.class.model_name.human %>
    </li>
    <span class="pull-right">
      <%= link_to "Ändra", edit_config_path %>
    </span>
  </ol>
</div>

<table class="table">
  <tr>
    <th><%= @config.class.human_attribute_name(:mail_from) %></th>
    <td><%= @config.mail_from %></td>
  </tr>
  <tr>
    <th><%= @config.class.human_attribute_name(:follow_up_mail_subject) %></th>
    <td><%= @config.follow_up_mail_subject %></td>
  </tr>
  <tr>
    <th><%= @config.class.human_attribute_name(:follow_up_mail_content) %></th>
    <td>
      <%= raw markdown @config.follow_up_mail_content %>
    </td>
  </tr>
  <tr>
    <th><%= @config.class.human_attribute_name(:conclusion_mail_subject) %></th>
    <td><%= @config.conclusion_mail_subject %></td>
  </tr>
  <tr>
    <th><%= @config.class.human_attribute_name(:conclusion_mail_content_for_established) %></th>
    <td>
      <%= raw markdown @config.conclusion_mail_content_for_established %>
    </td>
  </tr>
  <tr>
    <th><%= @config.class.human_attribute_name(:conclusion_mail_content_for_newcomer) %></th>
    <td>
      <%= raw markdown @config.conclusion_mail_content_for_newcomer %>
    </td>
  </tr>
</table>
